<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Properties>
    <Property name="service.name">opentelemetry-log4j2-alloy</Property>
    <Property name="service.version">1.0.0</Property>
  </Properties>

  <Appenders>
    <!-- Console Appender -->
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>

    <!-- OpenTelemetry Appender -->
    <OpenTelemetry name="OpenTelemetryAppender">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </OpenTelemetry>
  </Appenders>

  <Loggers>
    <!-- Application Logger -->
    <Logger name="com.miti99" level="debug" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="OpenTelemetryAppender"/>
    </Logger>

    <!-- Root Logger -->
    <Root level="info">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="OpenTelemetryAppender"/>
    </Root>
  </Loggers>
</Configuration>
