<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="pl.tkowalcz.tjahji.log4j2">
  <Appenders>
    <!-- Console Appender -->
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>

    <!-- Loki Appender -->
    <Loki name="Loki">
      <host>localhost</host>
      <port>3100</port>

      <PatternLayout>
        <Pattern>%X{tid} [%t] %d{MM-dd HH:mm:ss.SSS} %5p %c{1} - %m%n%exception{full}</Pattern>
      </PatternLayout>

      <Label name="server" value="${hostName}"/>
    </Loki>
  </Appenders>

  <Loggers>
    <!-- Application Logger -->
    <Logger name="com.miti99" level="debug" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="Loki"/>
    </Logger>

    <!-- Root Logger -->
    <Root level="info">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="Loki"/>
    </Root>
  </Loggers>
</Configuration>
